= provide(:title, 'Password resets')

.container.center
	.row
		.span6.offset3
			%h1 Reset Password
			= form_for(@user, url: password_reset_path(params[:id])) do |f|
				= render 'shared/error_messages', object: f.object

				= f.label :password
				= f.password_field :password

				= f.label :password_confirmation
				= f.password_field :password_confirmation

				%div.new_line
					= f.submit "Update Password", class: "btn btn-large btn-primary"