- provide(:title, @user.login)

.container
	.row
		.span6
			%h2.user_profile_page= @user.login
			= image_tag @user.image_url
			- if current_user? @user
				.new_line
					= link_to "Edit my profile", edit_user_path(@user)
		.span6
			.user_information= @user.full_name
			.user_information= @user.birthday
			.user_information= @user.email
			.user_information= @user.address
			.user_information
				- if @user.city
					= @user.city
				- if @user.state
					,
					= @user.state
				- if @user.country
					,
					= @user.country
				- if @user.zip
					,
					= @user.zip
		= render 'shared/user_map'
	%h2.new_section Adverts
	- if @adverts.blank?
		%p No adverts
	- else
		.row
			- @adverts.each do |advert|
				.span6
					= render advert, user_advert: false, full_content: false
			= will_paginate @adverts