- provide(:title, @user.login)
.user_profile_page.container
	.row
		.span6
			%h2= @user.login
			= image_tag @user.image_url
			- if current_user? @user
				.new_line
					= link_to "Edit my profile", edit_user_path(@user)
		.span6
			.user_information= @user.full_name
			.user_information= @user.birthday
			.user_information= @user.email
			.user_information= @user.address
			.user_information
				= @user.city
				,
				= @user.state
				,
				= @user.country
				,
				= @user.zip
		= render 'shared/user_map'