- provide(:title, 'New advert')

.container.center
	%h1 Creating Advert
	
	= form_for(@advert, url: {action: "create"}, html: {multipart: true}) do |f|

		= render 'shared/error_messages', object: f.object

		= f.label :name
		= f.text_field :name

		= f.label :description
		= f.text_area :description

		= f.label :image
		= f.file_field :image

		= f.label :tags
		= f.text_field :tags

		.new_line
			= f.submit 'Create Advert', class: 'btn btn-large btn-primary'