<%= form_for @user do |f| %>

	<%= render 'shared/error_messages', object: f.object %>

	<%= f.label :login %>
	<%= f.text_field :login %>

	<%= f.label :full_name %>
	<%= f.text_field :full_name %>

	<%= f.label :birthday %>
	<%= f.text_field :birthday %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :address %>
	<%= f.text_field :address %>

	<%= f.label :city %>
	<%= f.text_field :city %>

	<%= f.label :state %>
	<%= f.text_field :state %>

	<%= f.label :country %>
	<%= f.text_field :country %>

	<%= f.label :zip %>
	<%= f.text_field :zip %>

    <%= render 'shared/user_map' %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation %>

	<div class="new_line">
		<%= f.submit "Create a new user", class: 'btn btn-large btn-primary' %>
	</div>
<% end %>