- if params[:controller] != 'sessions'
	%header
		.container
			%ul
				%li= link_to 'Adverts', adverts_path
				%li= link_to 'Users', users_path
			.profile_block
				- if signed_in?
					%ul.main
						%li
							= link_to 'Profile', user_path(current_user)
							%ul.sub
								-# # %li= link_to 'View my profile', user_path(current_user)
								%li= link_to 'Edit my profile', edit_user_path(current_user)
								%li= link_to 'Sign out', signout_path, method: 'delete'
				- else
					%ul
						%li= link_to 'Sign in', signin_path